@import url('store.css');

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.logo {
    position: fixed;
    top: 10px;
    left: 0px;
    width: 150px;
    height: auto;
    z-index: 1000;
}

.icons {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.icons i {
    margin-left: 15px;
    font-size: 20px;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

a:link, a:visited, a:hover, a:active {
    color: white;
}

.cart-title {
    width: 300px;
    font-size: 22px;
    margin-bottom: 20px;
}

.cart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
}

.cart-items {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#cart-items li {
    margin-bottom: 10px;
}

.summary {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.summary h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-status {
    display: block;
    width: 100%;
    padding: 10px;
}

button {
    background-color: #333;
    color: #fff;
}

.buy-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

@media (min-width: 901px) {
    .content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .cart-title {
        align-self: flex-start;
        margin-left: 20px;
    }

    .cart-container {
        flex-direction: row;
        justify-content: space-between;
        max-width: none;
    }

    .cart-items {
        flex: 2;
        padding-right: 40px;
    }

    .summary {
        flex: 1;
        max-width: 300px;
    }
}

@media (max-width: 900px) {
    .cart-container {
        flex-direction: column;
        align-items: center;
    }

    .cart-items, .summary {
        width: 100%;
        max-width: 600px;
        padding: 10px;
    }

    .cart-title {
        font-size: 20px;
    }

    .summary h2 {
        font-size: 20px;
    }

    .buy-button {
        padding: 8px;
    }
}

@media (max-width: 600px) {
    .cart-title {
        font-size: 18px;
    }

    .summary h2 {
        font-size: 18px;
    }

    .buy-button {
        padding: 6px;
    }
}
